<div class="container mt-5">
  <div class="row">
    <div class="signin col-sm-6 mx-auto">
      <h2 class="h4 mb-3 fw-normal text-center">新規登録</h2>
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field text-center mb-2">
        <%= f.text_field :name, autofocus: true, placeholder: "名前" %>
        </div>
        <div class="field text-center mb-2">
          <%= f.email_field :email, placeholder: "Eメール" %>
        </div>
        <div class="field text-center mb-2">
          <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上で記入してください)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード" %>
        </div>
        <div class="actions text-center">
          <%= f.submit "新規登録", class: "btn btn-outline-secondary mt-3 mb-2 pr-5 pl-5" %>
        </div>
      <% end %>
      <div class="form text-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>