<% comments.first(5).each do |comment| %>
  <% unless comment.id.nil? %>
    <li class="comment-container ml-5">
      <div class="comment-box">
        <div class="comment-avatar">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>
                  <%= attachment_image_tag comment.user, :profile_image, fallback: "shutterstock_1013274682.png", class: "rounded-circle", size: "40x40" %>
                  <%= link_to "#{comment.user.name}", user_path(comment.user.id) %>
                  <%= comment.comment %>
                  <% if comment.user == current_user %>
                    <%= link_to task_comment_path(comment.task_id, comment.id), method: :delete, remote: true, class: " btn btn-danger" do %>
                    <i class="fas fa-trash" style="color: black;"></i>
                    <% end %>
                  <% end %>
                  <span class="comment-date pull-right">
                  <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                  </span>
                </td>
               </tr>
            </tbody>
          </table>
        </div>
      </div>
    </li>
  <% end %>
<% end %>