<div class="container">
  <div class="row">
    <!--saidoba-nisiyou-->
    <div class="col-md-3 border rounded mt-5 ml-3">
      <table class="table">
        <tbody>
          <tr>
            <th><%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg" %></th>
          </tr>
          <tr>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <div class="row">
      <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-outline-primary mx-auto mb-3" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 border border-secondary rounded mx-auto mt-5">
      <div class="container">
        <div class="col-sm-5 mt-3">
          <strong><%= @task.title %></strong> [ <%= @task.user.name %> ]
        </div>
        <div class="col-sm-10 mt-3">
          : <%= @task.body %>
        </div>
        <!--セレクトボックスで完了、未完了-->
      </div>
      <div class="d-flex flex-row-reverse">
        <% if @task.user == current_user %>
          <%= link_to "コメント #{@task.comments.count}", task_path(@task.id), class: "btn btn-outline-primary btn-sm mb-2 ml-3" %>
          <%= link_to "削除", task_path(@task), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-outline-danger btn-sm mb-2 ml-3" %>
          <%= link_to "編集", edit_task_path(@task), class: "btn btn-outline-primary btn-sm mb-2" %>
        <% end %>
      </div>
        <!--隠せるように-->
      <%= form_with(model:[@task, @comment], local: true) do |f| %>
        <%= f.text_field :comment, placeholder: "コメントを入力", :size => "70" %>
        <%= f.submit "送信する", class: "btn btn-outline-success ml-2 mb-2" %>
      <% end %>
    </div>
    <div class="col-sm-8 border border-secondary rounded mx-auto mt-1">
      <% @task.comments.each do |comment| %>
      <div class="col-sm-3">
        <%= comment.user.name %>
      </div>
      <div class="col-sm-5 ">
        <%= comment.comment %>  <%= comment.created_at.strftime('%Y/%m/%d') %>

      <% if comment.user == current_user %>
          <%= link_to "削除", task_comment_path(comment.task, comment), method: :delete, class: "btn btn-outline-danger btn-sm mb-2 ml-5 " %>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>