<div class="container">
  <div class-"row">
    <div class="col-lg-10 text-center mx-auto mt-5 mb-5">
       <%= form_with model:@user, local:true do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>
              <%= attachment_image_tag @user, :profile_image, :fill, 20, 20, fallback: "5.jpg", class: "rounded-circle" %><br>
              <%= f.attachment_field :profile_image_id, placeholder: "プロフィール画像", class: "btn btn-outline-secondary" %>
            </th>
            <th>
              <table class="table table-borderless mt-5">
                <tbody>
                  <tr>
                    <th><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前", :size => "40" %></th>
                  </tr>
                  <tr>
                    <td><%= f.text_area :introduction, id:"inputIntroduction", placeholder:"自己紹介", :size => "40" %></td>
                  </tr>
                  <tr>
                    <td><%= f.submit "変更を保存", class: "btn btn-secondary mx-auto" %></td>
                  </tr>
                </tbody>
              </table>
            </th>
          </tr>
        </tbody>
      </table>
      <% end %>
      <p class="text-secondary mt-5">Profire.edit</p>
    </div>
  </div>
</div>