<div class="container">
  <div class="row">
  	<div class="col-md-4 mt-5 ml-5">
  	  <div class="title-text">
  	  	<h4>予定を追加する</h4>
  	  </div>
	    <div class="event-form mt-3 ml-3">
        <%= form_with(model: @event, local: true) do |f| %>
        <div class="field row">
          <%= f.text_field :title, placeholder: "タイトル" %>
        </div>
        <div class="field row mt-3">
          <%= f.text_field :body, placeholder: "内容" %>
        </div>
        <div class="field row mt-3">
          <label for="start">開始日　</label>
          <p><%= f.datetime_select :end %></p>
        </div>
        <div class="actions row">
          <%= f.submit class: "btn btn-sm btn-success" %>
        </div>
        <div class="text-shadu mt-5">
        	<p class="text-top">・予定がある日は緑色になります</p>
        	<p class="text-second">・その日の予定は登録できません</p>
        </div>
        <% end %>
 	    </div>
 	  </div>
 	  <div class="col-md-7 mt-4">
		  <%= month_calendar events: @events do |date, events| %>
		  <%= date.day %>
		    <% events.each do |event| %>
		    <% end %>
		  <% end %>
		</div>
		<div class="kalender-index col-12 mt-3 mb-5">
		  <table class="event-table table-borde">
		    <thead>
		      <tr>
			      <th>タイトル</th>
			      <th>内容</th>
			      <th>開始日</th>
			      <th></th>
		      </tr>
		    </thead>
			  <% @events.each do |event| %>
				  <tbody>
				   <tr>
		        	<td><%= event.title %></td>
				    	<td><%= event.body %>kg</td>
				    	<td><%= event.end.strftime("%Y-%m-%d %H:%M") %></td>
				    	<td><%=link_to "削除", event_path(event) , method: :delete , data: {confirm:"削除しますか"} ,:class=>"btn03"%></td>
				    </tr>
			    </tbody>
		   <% end %>
      </table>
 	  </div>
  </div>
</div>

