<div class="container">
  <div class="row">
	    <div class="col-md-4 mt-5 ml-5">
        <%= form_for (@event) do |f| %>
        <div class="field row">
          <label for="title">タイトル</label>
          <p><%= f.text_field :title %></p>
        </div>
        <div class="field row mt-2">
          <label for="body">内容</label>
          <p><%= f.text_field :body %></p>
        </div>
        <div class="field row mt-2">
          <label for="start">開始日</label>
          <p><%= f.datetime_select :start %></p>
        </div>
        <div class="actions row">
          <%= f.submit class: "btn btn-sm btn-success" %>
        </div>
        <% end %>
 	    </div>
 	    <div class="col-md-7 mt-4">
		    <%= month_calendar events: @events do |date, events| %>
		    <%= date.day %>
		      <% events.each do |event| %>
		      <% end %>
		    <% end %>
		  </div>
		  <div class="kalender-index col-12 mt-3 mb-3">
		    <table class="memo table table-bordered">
			    <thead>
				    <tr>
					    <th>タイトル</th>
					    <th>内容</th>
					    <th>開始日</th>
					    <th></th>
				    </tr>
		      </thead>
			    <% @events.each do |event| %>
				    <tbody>
					    <tr>
					    	<td><%= event.title %></td>
					    	<td><%= event.body %>kg</td>
					    	<td><%= customer.start.strftime("%Y-%m-%d %H:%M") %></td>
					    	<td><%=link_to "削除", event_path(event) , method: :delete , data: {confirm:"削除しますか"} ,:class=>"btn03"%></td>
					    </tr>
				    </tbody>
			    <% end %>
  		  </table>
 	    </div>
  </div>
</div>

